openapi: '3.0.0'
info:
  version: 1.0.0
  title: Osprey Measurement Systems
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /measurements:
    get:
      summary: List measurements
      operationId: listMeasurements
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of measurements
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Measurements'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create measurement
      operationId: createMeasurement
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /measurements/{measurementId}:
    get:
      summary: Get measurement
      operationId: getMeasurementById
      parameters:
        - name: measurementId
          in: path
          required: true
          description: The id of the measurement to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Measurements'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices:
    get:
      summary: List devices
      operationId: listDevices
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of devices
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Devices'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create device
      operationId: createDevice
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Measurement:
      required:
        - id
        - value
      properties:
        id:
          type: integer
          format: int64
        value:
          type: number
        unit:
          type: string
    Measurements:
      type: array
      items:
        $ref: '#/components/schemas/Measurement'
    Device:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        status:
          type: string
    Devices:
      type: array
      items:
        $ref: '#/components/schemas/Device'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string